/* Test conection to HTML page */
html{
    height: 100%;
    width: auto;
    margin: 0em;
}

body{
    text-align: center;
    background-color: aqua;
    width: 100%;
    height: 100%;
    margin: 0em;
}

/* Player Two side */

#firstHalf{
    text-align: center;
    background-color: rgb(12, 88, 88);
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content:space-around ;
}

/* Player One side */

#secondHalf{
    text-align: center;
    background-color: rgb(69, 131, 131);
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content:space-around ;
}

/* Player One Dice */

#P1dice1{
    text-align: center;
    width: 10%;
    height: 25%;
    background-color: aliceblue;
    color:blue;
}
#P1dice2{
    text-align: center;
    width: 10%;
    height: 25%;
    background-color: aliceblue;
    color:blue;
}
#P1dice3{
    text-align: center;
    width: 10%;
    height: 25%;
    background-color: aliceblue;
    color:blue;
}
#P1dice4{
    text-align: center;
    width: 10%;
    height: 25%;
    background-color: aliceblue;
    color:blue;
}
#P1dice5{
    text-align: center;
    width: 10%;
    height: 25%;
    background-color: aliceblue;
    color:blue;
}

/* Player One Dice */

#P2dice1{
    text-align: center;
    width: 10%;
    height: 25%;
    background-color: aliceblue;
    color:blue;
}
#P2dice2{
    text-align: center;
    width: 10%;
    height: 25%;
    background-color: aliceblue;
    color:blue;
}
#P2dice3{
    text-align: center;
    width: 10%;
    height: 25%;
    background-color: aliceblue;
    color:blue;
}
#P2dice4{
    text-align: center;
    width: 10%;
    height: 25%;
    background-color: aliceblue;
    color:blue;
}
#P2dice5{
    text-align: center;
    width: 10%;
    height: 25%;
    background-color: aliceblue;
    color:blue;
}