/* Test conection to HTML page */
html{
    height: 100%;
    width: auto;
    margin: 0em;
}

body{
    text-align: center;
    background-color: aqua;
    width: 100%;
    height: 100%;
    margin: 0em;
}

/* Player Two side */

#firstHalf{
    background-color: rgb(12, 88, 88);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

/* Player One side */

#secondHalf{
    background-color: rgb(69, 131, 131);
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-around;
}

/* Player One Dice */

#P1dice0{
    width: 19%;
    background-color: aliceblue;
    color:blue;
    margin: 3em;
}
#P1dice1{
    width: 19%;
    background-color: aliceblue;
    color:blue;
    margin: 3em;
}
#P1dice2{
    width: 19%;
    background-color: aliceblue;
    color:blue;
    margin: 3em;
}
#P1dice3{
    width: 19%;
    background-color: aliceblue;
    color:blue;
    margin: 3em;
}
#P1dice4{
    width: 19%;
    background-color: aliceblue;
    color:blue;
    margin: 3em;
}

/* Player One Dice */

#P2dice0{
    width: 19%;
    background-color: aliceblue;
    color:blue;
    margin: 3em;
}
#P2dice1{
    width: 19%;
    background-color: aliceblue;
    color:blue;
    margin: 3em;
}
#P2dice2{
    width: 19%;
    background-color: aliceblue;
    color:blue;
    margin: 3em;
}
#P2dice3{
    width: 19%;
    background-color: aliceblue;
    color:blue;
    margin: 3em;
}
#P2dice4{
    width: 19%;
    background-color: aliceblue;
    color:blue;
    margin: 3em;
}