/* Test conection to HTML page */
html{
    height: 100%;
    width: auto;
    margin: 0em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/textures-wood-preview.jpeg) ;
}

body{
    border-radius: 2em;
    text-align: center;
    background-color: rgb(0, 0, 0);
    width: 65%;
    height: 80%;
    padding: 1em
}

#topUi{
    border-radius: 2em 2em 0em 0em;
}
#bottomUi{
    border-radius: 0em 0em 2em 2em;
}

.UI{
    height:10%;
    background-color: rgb(93, 93, 93);
    display: flex;
    justify-content: center;
    align-items: center;
}

.uiButton{
    height:90%;
    width: 15%;
    margin: 0em 1em;
}

.uiButton img{
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 1.25em;
}

/* Player Two side */

#firstHalf{
    text-align: center;
    background-color: rgb(3, 21, 21);
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content:space-around ;
}

/* Player One side */

#secondHalf{
    text-align: center;
    background-color: rgb(28, 37, 37);
    width: 100%;
    height: 40%;
    display: flex;
    align-items: center;
    justify-content:space-around ;
}

/* Player One Dice */

#P1dice1{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}
#P1dice2{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}
#P1dice3{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}
#P1dice4{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}
#P1dice5{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}
#P1dice6{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}

/* Player One Dice */

#P2dice1{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}
#P2dice2{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}
#P2dice3{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}
#P2dice4{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}
#P2dice5{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}
#P2dice6{
    text-align: center;
    width: 15%;
    height: 35%;
    /* background-color: aliceblue; */
    color:blue;
}

.dice img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    border-radius: 1.25em;
}

.reRoll{
    animation: shake 3s;
    animation-iteration-count: infinite;
}   

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(1deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-2px, 0px) rotate(1deg); }
    30% { transform: translate(2px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-2px, 1px) rotate(0deg); }
    70% { transform: translate(2px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 1px) rotate(0deg); }
    100% { transform: translate(1px, 0px) rotate(0deg); }
  }